@theme {
  /* Brand Colors */
  --brand-primary: rgba(24, 24, 27, 1);      /* Your primary brand color */
  --brand-secondary: rgba(255, 255, 255, 1);    /* Your secondary brand color */
  --brand-accent: rgba(59, 130, 246, 1);       /* Your accent color */
  
  /* Primary Color Scale */
  --color-primary-50: rgba(255, 255, 255, 0.88);    /* contrast on color */
  --color-primary-100: rgba(255, 255, 255, 1);     /* primary-bg */
  --color-primary-200: rgba(228, 228, 231, 1);    /* borders, disabled */
  --color-primary-300: rgba(212, 212, 216, 1);    /* strong borders */
  --color-primary-400: rgba(113, 113, 122, 1);    /* text hover */
  --color-primary-500: rgba(82, 82, 91, 1);       /* text hover */
  --color-primary-600: rgba(39, 39, 42, 1);       /* hover states */
  --color-primary-700: rgba(63, 63, 70, 1);       /* pressed states */
  --color-primary-800: rgba(24, 24, 27, 1);       /* text, buttons */
  --color-primary-900: rgba(24, 24, 27, 1);       /* text, buttons */
  --color-primary-950: rgba(0, 0, 0, 1);          /* darkest */
  
  /* Secondary Color Scale */
  --color-secondary-50: rgba(250, 250, 250, 1);   /* secondary-bg */
  --color-secondary-100: rgba(255, 255, 255, 1);  /* secondary-button */
  --color-secondary-200: rgba(244, 244, 245, 1);  /* secondary-hover */
  --color-secondary-300: rgba(228, 228, 231, 1);  /* pressed, disabled, borders */
  --color-secondary-400: rgba(212, 212, 216, 1);  /* strong borders */
  --color-secondary-500: rgba(113, 113, 122, 1);  /* text hover */
  --color-secondary-600: rgba(82, 82, 91, 1);     /* text */
  --color-secondary-700: rgba(24, 24, 27, 1);     /* on-color */
  --color-secondary-800: rgba(24, 24, 27, 1);     /* on-color */
  --color-secondary-900: rgba(0, 0, 0, 1);        /* darkest */
  --color-secondary-950: rgba(0, 0, 0, 1);        /* darkest */
  
  /* Accent Color Scale */
  --color-accent-50: rgba(239, 246, 255, 1);      /* disabled */
  --color-accent-100: rgba(239, 246, 255, 1);     /* disabled */
  --color-accent-200: rgba(59, 130, 246, 1);      /* border */
  --color-accent-300: rgba(59, 130, 246, 1);      /* border */
  --color-accent-400: rgba(59, 130, 246, 1);      /* text, border */
  --color-accent-500: rgba(37, 99, 235, 1);       /* text hover */
  --color-accent-600: rgba(30, 64, 175, 1);       /* pressed */
  --color-accent-700: rgba(30, 64, 175, 1);       /* pressed */
  --color-accent-800: rgba(30, 64, 175, 1);       /* pressed */
  --color-accent-900: rgba(30, 64, 175, 1);       /* pressed */
  --color-accent-950: rgba(30, 64, 175, 1);       /* pressed */

  /* State colors */
  --color-error-text: rgba(159, 18, 57, 1);
  --color-error-bg: rgba(225, 29, 72, 1);
  --color-error-border: rgba(225, 29, 72, 1);
  --color-error-bg-hover: rgba(190,18, 60, 1);
  --color-error-on-color: rgba(255, 255, 255, 1);
  --color-success-text: rgba(6, 95, 70, 1);
  --color-success-bg: rgba(209, 250, 229, 1);
  --color-success-border: rgba(167, 243, 208, 1);

  /* Other */
  --color-loading-bg: rgba(228, 228, 231, 1);
  --color-overlay-bg: rgba(24, 24, 27, 0.4);

  /* Transparent colors */
  --color-transparent: transparent;
  --color-transparent-250: rgba(24, 24, 27, 0.1);
  --color-transparent-400: rgba(24, 24, 27, 0.24);
  
  /* Primary colors */
  --color-primary-bg: var(--color-primary-100);
  --color-primary-border: var(--color-primary-200);
  --color-primary-border-strong: var(--color-primary-300);
  --color-primary-text: var(--color-primary-800);
  --color-primary-text-hover: var(--color-primary-500);
  --color-primary-on-color: var(--color-primary-100);

  /* Secondary colors */
  --color-secondary-bg: var(--color-secondary-50);
  --color-secondary-border: var(--color-secondary-300);
  --color-secondary-border-strong: var(--color-secondary-400);
  --color-secondary-text: var(--color-secondary-600);
  --color-secondary-text-hover: var(--color-secondary-500);
  --color-secondary-on-color: var(--color-secondary-700);

  /* Accent colors */
  --color-accent-text: var(--color-accent-400);
  --color-accent-text-hover: var(--color-accent-500);
  --color-accent-pressed: var(--color-accent-600);
  --color-accent-border: var(--color-accent-400);

  /* Button colors */
  --color-button-primary-bg: var(--color-primary-600);
  --color-button-primary-text: var(--color-primary-50);
  --color-button-primary-hover: var(--color-primary-700);
  --color-button-primary-pressed: var(--color-primary-500);
  --color-button-primary-border: transparent;
  --color-button-secondary-bg: var(--color-secondary-100);
  --color-button-secondary-text: var(--color-secondary-700);
  --color-button-secondary-hover: var(--color-secondary-200);
  --color-button-secondary-pressed: var(--color-secondary-300);
  --color-button-secondary-border: var(--color-primary-text);
  --color-button-error-bg: var(--color-error-bg);
  --color-button-error-text: var(--color-error-on-color);
  --color-button-error-hover: var(--color-error-bg-hover);
  --color-button-error-pressed: var(--color-error-text);
  --color-button-error-border: transparent;

  /* White colors */
  --color-white: rgba(255, 255, 255, 1);
  --color-white-hover: rgba(250, 250, 250, 1);

  /* Gray colors */
  --color-gray-50: rgba(249, 250, 251, 1);
  --color-gray-100: rgba(243, 244, 246, 1);
  --color-gray-200: rgba(229, 231, 235, 1);
  --color-gray-300: rgba(209, 213, 219, 1);
  --color-gray-400: rgba(156, 163, 175, 1);
  --color-gray-500: rgba(107, 114, 128, 1);
  --color-gray-600: rgba(75, 85, 99, 1);
  --color-gray-700: rgba(55, 65, 81, 1);
  --color-gray-800: rgba(31, 41, 55, 1);
  --color-gray-900: rgba(17, 24, 39, 1);
  --color-gray-950: rgba(3, 7, 18, 1);

  /* Blue colors */
  --color-blue-50: rgba(239, 246, 255, 1);
  --color-blue-100: rgba(219, 234, 254, 1);
  --color-blue-200: rgba(191, 219, 254, 1);
  --color-blue-300: rgba(147, 197, 253, 1);
  --color-blue-400: rgba(96, 165, 250, 1);
  --color-blue-500: rgba(59, 130, 246, 1);
  --color-blue-600: rgba(37, 99, 235, 1);
  --color-blue-700: rgba(29, 78, 216, 1);
  --color-blue-800: rgba(30, 64, 175, 1);
  --color-blue-900: rgba(30, 58, 138, 1);
  --color-blue-950: rgba(23, 37, 84, 1);

  /* Black colors */
  --color-black-100: rgba(113, 113, 122, 1);
  --color-black-200: rgba(82, 82, 91, 1);
  --color-black-300: rgba(39, 39, 42, 1);
  --color-black-400: rgba(24, 24, 27, 1);
  --color-black-500: rgba(63, 63, 70, 1);

  /* Neutral colors */
  --color-neutral-50: rgba(255, 255, 255, 1);
  --color-neutral-100: rgba(244, 244, 245, 1);
  --color-neutral-200: rgba(228, 228, 231, 1);
  --color-neutral-300: rgba(244, 244, 245, 1);
  --color-neutral-400: rgba(228, 228, 231, 1);
  --color-neutral-500: rgba(39, 39, 42, 1);
  --color-neutral-600: rgba(39, 39, 42, 1);
  --color-neutral-700: rgba(63, 63, 70, 1);
  --color-neutral-800: rgba(255, 255, 255, 0);
  --color-neutral-900: rgba(24, 24, 27, 0.1);
  --color-neutral-950: rgba(24, 24, 27, 0.24);

  /* Red colors */
  --color-red-50: rgba(255, 228, 230, 1);
  --color-red-100: rgba(254, 205, 211, 1);
  --color-red-200: rgba(254, 205, 211, 1);
  --color-red-300: rgba(244, 63, 94, 1);
  --color-red-400: rgba(159, 18, 57, 1);
  --color-red-500: rgba(225, 29, 72, 1);
  --color-red-600: rgba(225, 29, 72, 1);
  --color-red-700: rgba(225, 29, 72, 1);
  --color-red-800: rgba(190, 18, 60, 1);
  --color-red-900: rgba(190, 18, 60, 1);
  --color-red-950: rgba(159, 18, 57, 1);

  /* Green colors */
  --color-green-50: rgba(209, 250, 229, 1);
  --color-green-100: rgba(167, 243, 208, 1);
  --color-green-200: rgba(167, 243, 208, 1);
  --color-green-300: rgba(16, 185, 129, 1);
  --color-green-400: rgba(6, 95, 70, 1);

  /* Orange colors */
  --color-orange-50: rgba(255, 237, 213, 1);
  --color-orange-100: rgba(254, 215, 170, 1);
  --color-orange-200: rgba(254, 215, 170, 1);
  --color-orange-300: rgba(249, 115, 22, 1);
  --color-orange-400: rgba(154, 52, 18, 1);

  /* Purple colors */
  --color-purple-50: rgba(237, 233, 254, 1);
  --color-purple-100: rgba(221, 214, 254, 1);
  --color-purple-200: rgba(221, 214, 254, 1);
  --color-purple-300: rgba(167, 139, 250, 1);
  --color-purple-400: rgba(91, 33, 182, 1);

  /* Border Radius */
  --radius-none: 0px;
  --radius-soft: 2px;
  --radius-base: 4px;
  --radius-rounded: 8px;
  --radius-lg: 16px;
  --radius-circle: 9999px;

  /* Breakpoints */
  --breakpoint-xs: 480px;    /* Extra small devices (phones) */
  --breakpoint-sm: 640px;    /* Small devices (tablets) */
  --breakpoint-md: 768px;    /* Medium devices (small laptops) */
  --breakpoint-lg: 1024px;   /* Large devices (laptops) */
  --breakpoint-xl: 1280px;   /* Extra large devices (desktops) */
  --breakpoint-2xl: 1536px;  /* 2X large devices (large desktops) */

  /* Font Family */
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;

  /* Animation */
  --animation-ring: ring 2.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  --animation-fade-in-right: fade-in-right 0.3s cubic-bezier(0.5, 0, 0.5, 1) forwards;
  --animation-fade-in-top: fade-in-top 0.2s cubic-bezier(0.5, 0, 0.5, 1) forwards;
  --animation-fade-out-top: fade-out-top 0.2s cubic-bezier(0.5, 0, 0.5, 1) forwards;
  --animation-accordion-open: accordion-slide-down 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
  --animation-accordion-close: accordion-slide-up 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
  --animation-enter: enter 200ms ease-out;
  --animation-slide-in: slide-in 1.2s cubic-bezier(.41,.73,.51,1.02);
  --animation-leave: leave 150ms ease-in forwards;


  /* Keyframes definitions */
  @keyframes ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-top {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-top {
    0% {
      height: 100%;
    }
    99% {
      height: 0;
    }
    100% {
      visibility: hidden;
    }
  }

  @keyframes accordion-slide-up {
    0% {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }

  @keyframes accordion-slide-down {
    0% {
      min-height: 0;
      max-height: 0;
      opacity: 0;
    }
    100% {
      min-height: var(--radix-accordion-content-height);
      max-height: none;
      opacity: 1;
    }
  }

  @keyframes enter {
    0% { transform: scale(0.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }

  @keyframes leave {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0; }
  }

  @keyframes slide-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
  }
}
